[Unit]
Description=Redis server for NARRA instance
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill narra-redis
ExecStartPre=-/usr/bin/docker rm narra-redis
ExecStartPre=/usr/bin/docker pull redis
ExecStart=/usr/bin/docker run --name narra-redis redis
ExecStop=/usr/bin/docker stop narra-redis

[X-Fleet]
MachineMetadata=type=master
Conflicts=narra-redis*