[Unit]
Description=NARRA Redis Connector
Requires=etcd.service
Requires=narra-redis.service
After=etcd.service
After=narra-redis.service
BindsTo=narra-redis.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c '\
  while true; do \
    curl -f ${COREOS_PRIVATE_IPV4}:6379; \
    if [ $? -eq 0 ]; then \
      etcdctl set /narra/redis \'${COREOS_PRIVATE_IPV4}:6379\' --ttl 30; \
    else \
      etcdctl rm /narra/redis; \
    fi; \
    sleep 20; \
  done'
ExecStop=/usr/bin/etcdctl rm /narra/redis

[X-Fleet]
X-ConditionMachineOf=narra-redis.service