[Unit]
Description=NARRA MongoDB Connector

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill narra-mongo-connector
ExecStartPre=-/usr/bin/docker rm narra-mongo-connector
ExecStartPre=/usr/bin/docker pull svendowideit/ambassador
ExecStart=/usr/bin/docker run -d --name narra-mongo-connector --expose 27017 -e MONGO_PORT_27017_TCP=tcp://<mongodb_server_ip>:27017 svendowideit/ambassador

[X-Fleet]
Global=true