[Unit]
Description=MongoDB server for NARRA instance
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill narra-mongo
ExecStartPre=-/usr/bin/docker rm narra-mongo
ExecStartPre=/usr/bin/docker pull mongo
ExecStart=/usr/bin/docker run --name narra-mongo -p ${COREOS_PRIVATE_IPV4}:27017:27017 mongo
ExecStartPost=/usr/bin/etcdctl set /narra/mongo ${COREOS_PRIVATE_IPV4}
ExecStop=/usr/bin/docker stop narra-mongo
ExecStopPost=/usr/bin/etcdctl rm /narra/mongo

[X-Fleet]
MachineMetadata=type=database
Conflicts=narra-mongo*